:root {
    --lemolime-green: hsl(134, 35%, 30%);
    --gingerbeer-yellow: hsl(42, 66%, 54%);
}

@font-face {
    font-family: "S&S Amberosa Sans 3";
    src: url("fonts/S%26S-Amberosa-Sans-3.eot");
    /* IE9 */
    src: url("fonts/S%26S-Amberosa-Sans-3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("fonts/S%26S-Amberosa-Sans-3.otf") format("opentype"), /* Most modern browsers */
         url("fonts/S%26S-Amberosa-Sans-3.woff2") format("woff2"), /* Super modern browsers */
         url("fonts/S%26S-Amberosa-Sans-3.woff") format("woff"), /* Pretty modern browsers */
         url("fonts/S%26S-Amberosa-Sans-3.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: hsl(120, 30%, 20%);
}

.logo {
    font-family: "S&S Amberosa Sans 3", Verdana;
    font-size: 45pt;
    color: hsl(30, 50%, 90%);
}

/* this is a test */
.logotest {
    font-family: "S&S Amberosa Sans 3", Verdana;
    font-size: 45pt;
    color: hsla(120, 100%, 18%, 0.5);
    text-shadow: -1px -1px 0px hsla(120, 100%, 38%, 0.5), 1px 1px 0px hsla(120, 100%, 8%, 0.5);
}

nav {
    text-align: center;
    padding: 8px;
    background-color: var(--lemolime-green);
    box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.5);
}

.gallery {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.gallery figure {
    width: 25%;
    height: 25%;
    background: hsl(120, 30%, 30%);
    overflow: auto;
}

.gallery figure img {
    width: 25%;
    height: 25%;
    float: left;
}

.gallery figcaption {
    margin-bottom: 8px;
    padding: 8px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    background: hsl(120, 30%, 30%);
    color: hsl(30, 50%, 90%);
}

/* responsive stuff */
@media only screen and (max-width: 360px) {
.gallery figure {
     width: 100%;
}
.gallery figure img {
     width: 40%;
}
/*.gallery figcaption {
     width: 40%;
}*/

}

@media only screen and (min-width: 361px) and (max-width: 768px) {
    
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    
}

@media only screen and (min-width: 1201px) {
    
}
