@font-face {
  font-family: "S&S Amberosa Sans 3";
  src: url("fonts/S%26S-Amberosa-Sans-3.eot"); /* IE9 */
  src: url("fonts/S%26S-Amberosa-Sans-3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/S%26S-Amberosa-Sans-3.otf") format("opentype"), /* Most modern browsers */
       url("fonts/S%26S-Amberosa-Sans-3.woff2") format("woff2"), /* Super modern browsers */
       url("fonts/S%26S-Amberosa-Sans-3.woff") format("woff"), /* Pretty modern browsers */
       url("fonts/S%26S-Amberosa-Sans-3.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
    
.logo {
  font-family: "S&S Amberosa Sans 3", Verdana;
  font-size: 45pt;
  color: hsl(30, 50%, 90%);
}

nav {
  padding: 8px;
  background-color: hsla(90, 80%, 25%, 0.1);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px hsla(2, 20%, 30%, 0.5);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid hsla(90, 80%, 25%, 0.2);
}

body {
  background-color: hsl(90, 10%, 25%);
  margin: 0;
}
